body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  color: #007bff;
}

h2 {
  color: #333;
}

.PowerAppPartsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.netflix-tabs .nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.netflix-tabs .nav-item {
  margin: 0 10px;
}

.netflix-tabs .nav-link {
  background-color: #ffffff;
  border: none;
  color: #333;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.netflix-tabs .nav-link.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  transform: translateY(-2px);
}

.netflix-tabs .nav-link:hover {
  background-color: #0056b3;
  color: #fff;
  transform: translateY(-2px);
}

.power-app-tab-content {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.power-app-tab-buttons {
  margin-top: 20px;
}

.power-app-tab-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.power-app-tab-buttons button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
}

select {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

button[type="button"] {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="button"]:hover {
  background-color: #218838;
}

.large-image {
  width: 100%;
  max-width: 900px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}