body {
  background: #f4f7f6;
  font-family: 'Roboto', sans-serif;
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 50px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 15px 20px;
  background: #e0e0e0;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
  position: relative;
  z-index: 2;
}

.mytabs label.active {
  background: #00bbead2;
  color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
  border-bottom: none;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #e0e0e0;
  order: 1;
  display: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  margin-top: -1px;
}

.mytabs .tab.active-tab {
  background: #00c3ea;
  color: #ffffff;
  display: block;
}

.mytabs .tab h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: #00c7ea;
  color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
  border-bottom: none;
}

.power-app-tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.power-app-tab-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.power-app-tab-buttons button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
}

select, input[type="text"], input[type="number"], input[type="date"], textarea {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #0ed4f7;
}

th, td {
  padding: 10px;
  text-align: left;
}

button[type="button"] {
  background-color: #2896a7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="button"]:hover {
  background-color: #218838;
}


.large-image {
  width: 100%;
  max-width: 900px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}